.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.popup {
    margin: 150px auto;
    padding: 20px;
    background: #fff;
    width: 40%;
    position: relative;
    border-radius: 10px;
    transition: all 5s ease-in-out;
}


.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: "Draft B Regular";
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    overflow: auto;
    font-family: "Draft B Regular";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.connexion-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.content button {
    font-family: "Draft B Regular";
    border: 2px solid var(--main-light-color);
    border-radius: 4px;
    background-color: transparent;
    font-size: 20px;
    color: var(--main-light-color);
    margin-top: 15px;
}

input[type="text"]:invalid ~ button,
input[type="password"]:invalid ~ button {
    border-color: grey;
    color: grey;
    opacity: .25;
}

.create-container {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.form-error {
    color: red;
    font-size: 10px;
}