.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-family: 'OPTIColumna-Solid';
    background-color: #443742;
}

.header .button {
    font-family: 'Draft B Regular';
    position: absolute;
    right: 10px;
    border: 2px solid #CEA07E;
    border-radius: 4px;
    background-color: #443742;
    font-size: 15px;
    color: #CEA07E;
}

.header .button:hover {
    color: absolute;
    transition-duration: 250ms;
    border-color: #846C5B;
    color: #846C5B;
}

.title {
    font-size: 30px;
    color: #CEA07E;
}