.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-family: 'OPTIColumna-Solid';
    background-color: var(--main-dark-color);
}

.header .connect-button {
    font-family: 'Draft B Regular';
    position: absolute;
    right: 40px;
    border: 2px solid var(--main-light-color);
    border-radius: 4px;
    background-color: var(--main-dark-color);
    font-size: 20px;
    color: var(--main-light-color);
    top: 25px;
}

.header button:hover {
    transition-duration: 250ms;
    border-color: var(--main-selected-color);
    color: var(--main-selected-color);
}

.title {
    font-size: 40px;
    color: var(--main-light-color);
}