.toolbar {
    height: 80%;
    top: 50px;
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.utils {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-around;
}

.toolbar-button {
    font-family: 'Draft B Regular';
    border: 2px solid var(--light-color);
    border-radius: 4px;
    background-color: transparent;
    font-size: 20px;
    color: var(--light-color);
}

.filter-label {
    border: 2px solid var(--light-color);
    border-radius: 4px;
    padding: 1px 6px;
    margin-bottom: 2px;
}

.filter-label:hover {
    transition-duration: 300ms;
    color: var(--selected-color);
    border-color: var(--selected-color);
}

.filter-label,
.dropdown-options label {
    appearance: auto;
    color: var(--light-color);
    font-family: 'Draft B Regular';
    padding: 1px 6px;
}


.dropdown-options label:hover {
    transition-duration: 300ms;
    color: var(--selected-color);
    margin-left: 5px;
    padding-left: 5px;
    border-left: 2px solid var(--selected-color);
    transition: all 0.3s ease;
    bottom: 50%;
    top: 0;
}

.toolbar-button:hover {
    transition-duration: 300ms;
    border-color: var(--selected-color);
    color: var(--selected-color);
}

input[type=checkbox] {
    display: none;
}

.dropdown-options {
    display: none;
    position: fixed;
    text-align: left;
    flex-direction: column;
}

.dropdowns {
    display: none;
    flex-direction: column;
    left: 20px;
    position: relative;
}

#filter-checkbox:checked~.dropdown-options {
    display: flex;
}

#civ-checkbox:checked~.dropdown-civs {
    display: flex;
}

#map-checkbox:checked~.dropdown-maps {
    display: flex;
}

#goal-checkbox:checked~.dropdown-goals {
    display: flex;
}

.cover {
    display: flex;
    justify-content: flex-end;
}

input[type=text], input[type=password] {
    outline: 0;
    border-radius: 4px;
    border: 2px solid var(--light-color);
    color: var(--selected-color);
    font-size: 20px;
    padding: 5px;
    background-color: transparent;
}

input[type=text]:not(:placeholder-shown),
input[type=password]:not(:placeholder-shown)  {
    border-color: var(--selected-color);
}

.search.icon {
    color: var(--light-color);
    position: absolute;
    margin-top: 11px;
    margin-right: 11px;
    width: 12px;
    height: 12px;
    border: solid 1px currentColor;
    border-radius: 100%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.search.icon:hover {
    transition-duration: 300ms;
    color: var(--selected-color);
}

.search.icon:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 5px;
    height: 6px;
    width: 1px;
    background-color: currentColor;
}

::placeholder  {
    color: var(--selected-color);
}